$primary-color: white;
$title-color: #feb676;
$main-font: 'Lato', sans-serif;

header {
  background-image: url(../images/header.png);
  -webkit-background-size: cover;
  background-size: cover;

  .navbar {
    margin-bottom: 8.75rem;
  }

  .navbar-brand {
    margin-right: 7rem;
    img{
      width: 50%;
      height: 50%;
    }
    @media screen and (min-width: 1440px) {
      margin-right: 12rem;
      img{
        width: auto;
        height: auto;
      }
    }
  }

  .navbar-light .navbar-nav .nav-link {
    color: $primary-color;
    font: 0.9rem $main-font;
    margin: 0 2rem;
    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
      text-align: right;
    }
  }

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: $primary-color;
  }

  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: $primary-color;
  }

  .dropdown-menu {
    border: none;
    text-align: right;
    font-size: 1.2rem;
  }

  .dropdown-menu.show {
    background-color: transparent;

    .dropdown-item {
      color: $primary-color;
      font: 0.9rem $main-font;
    }

    .dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
      background-color: transparent;
    }
  }

  h1 {
    color: $primary-color;
    font: 3.25rem $main-font;
    font-weight: lighter;
  }

  p {
    color: $primary-color;
    font: 0.875rem $main-font;
    line-height: 2;
  }
}

.home {
  blockquote {
    font: 1.25rem $main-font;
    color: $title-color;
    font-style: italic;
    font-weight: 300;
  }

  blockquote:before {
    content: "ʻʻ";
    font-size: 3rem;
    display: block;
  }

  blockquote:after {
    content: "ʼʼ";
    font-size: 3rem;
    display: block;
    text-align: center;
  }

  .carousel {
    padding-bottom: 4.35rem;
    border-bottom: 1px solid #dedede;
    @media screen and (min-width: 1024px) {
      border-bottom: none;
      border-right: 1px solid #dedede;
    }
  }

  .carousel-control-prev {
    right: 6rem;
  }

  .carousel-control-next {
    right: 4rem;
  }

  .carousel-control-next, .carousel-control-prev {
    width: 2rem;
    height: 2rem;
    background-color: #fe992a;
    left: auto;
    top: auto;
    margin-bottom: 2rem;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 10px;
    height: 10px;
  }

  h2 {
    font: 1.5rem $main-font;
    color: $title-color;
    margin-bottom: 2rem;
  }

  p {
    font: 0.875rem $main-font;
    line-height: 2;
  }

}

footer {
  background-color: #e87875;
  font: 0.75rem $main-font;
  color: $primary-color;
  padding-top: 3rem;

  a {
    font: 0.6rem $main-font;
    color: $primary-color;
    line-height: 1.5rem;
    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
  }

  a:hover {
    color: $primary-color;
    text-decoration: none;
  }

  ul {
    list-style-type: none;

    li:first-child {
      a {
        font-weight: bold;
      }
    }
  }
}

